footer {
  position: relative;
  background-image: linear-gradient(141deg, #FF867E 0%, #FFA270 21%, #FFAA6C 27%, #FFA876 52%, #FE906A 73%, #FF837D 100%);
  padding-top: 150px;
  font-size: 20px;
  & > img {
    width: 100%;
  }
  .container {
    padding-bottom: 90px;
  }
  .logo {
    border: none;
    display: inline-block;
  }
  .made-in {
    margin-top: 80px;
    img {
      display: block;
    }
    p {
      margin-top: 10px;
      font-size: 14px;
      line-height: 18px;
    }
  }
  .footer-city {
    display: block;
    position: relative;
    height: 0;
    padding-bottom: 29%;
    svg {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  a {
    color: #fff;
    border-bottom: 1px solid transparent;
    transition: .3s ease-out;
    &:hover {
      border-color: #fff;
    }
  }
  .contact-us {
    p {
      font-size: 20px;
      line-height: 28px;
    }
  }
  .social-links {
    .title {
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 23px;
      height: 32px;
      display: flex;
      align-items: center;
      a {
        padding-left: 52px;
        border: none;
        position: relative;
        display: inline-block;
        &:hover {
          span {
            border-color: #fff;
          }
        }
        &:before {
          position: absolute;
          top: 50%;
          left: 0;
          width: 32px;
          height: 32px;
          display: block;
          content: '';
          transform: translateY(-50%);
        }
        span {
          transition: .2s ease-out;
          border-bottom: 1px solid transparent;
        }
      }
      &.slack {
        a {
          &:before {
            background: url("/images/footer-icons/slack.svg") center no-repeat;
          }
        }
      }
      &.github {
        a {
          &:before {
            background: url("/images/footer-icons/github.svg") center no-repeat;
          }
        }
      }
      &.facebook {
        a {
          &:before {
            background: url("/images/footer-icons/facebook.svg") center no-repeat;
          }
        }
      }
      &.twitter {
        a {
          &:before {
            background: url("/images/footer-icons/twitter.svg") center no-repeat;
          }
        }
      }
      &.linkedin {
        a {
          &:before {
            background: url("/images/footer-icons/linkedin.svg") center no-repeat;
          }
        }
      }
      &.medium {
        a {
          &:before {
            background: url("/images/footer-icons/medium.svg") center no-repeat;
          }
        }
      }
      &.reddit {
        a {
          &:before {
            background: url("/images/footer-icons/reddit.svg") center no-repeat;
          }
        }
      }
      &.bitcoin {
        a {
          &:before {
            background: url("/images/footer-icons/bitcoin.svg") center no-repeat;
          }
        }
      }
      &.telegram {
        a {
          &:before {
            background: url("/images/footer-icons/telegram.svg") center no-repeat;
          }
        }
      }
    }
  }
  .privacy-terms {
    font-size: 14px;
    line-height: 18px;
    margin-top: 70px;
  }
}

@media ($mobile) {
  footer {
    padding-top: 50px;
    .made-in {
      margin-top: 50px;
      p {
        font-size: 12px;
        line-height: 15px;
      }
    }
    .contact-us {
      margin-top: 30px;
      p {
        font-size: 14px;
        line-height: 18px;
      }
    }
    .social-links {
      font-size: 16px;
      li {
        height: 36px;
        margin-bottom: 0;
        a {
          padding-left: 26px;
          &::before {
            width: 16px;
            height: 16px;
            background-size: contain !important;
          }
        }
      }
    }
    .privacy-terms {
      margin-top: 30px;
      font-size: 14px;
      line-height: 18px;
    }
    .logo {
      margin-top: 50px;
    }
    .container {
      padding-bottom: 50px;
    }
  }
}
