header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: background .3s ease;
  z-index: 100;
  &.scroll-header {
    background: $color-purpleLight;
  }

  .logo-wrapper {
    font-size: 0;
    .logo {
      margin-top: -8px;
      display: inline-block;
    }
  }

  .nav {
    height: 80px;
    text-align: center;
    position: relative;
    .links-wrapper {
      font-size: 0;
    }
    .marker {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 4px;
      background-color: $color-orange;
      width: 50px;
      transition: .3s ease;
      display: none;
    }

    .links-wrapper {
      a {
        font-size: 20px;
        display: inline-block;
        height: 80px;
        line-height: 80px;
        color: $color-white;
        text-align: center;
        overflow: hidden;
        border-bottom: 4px solid transparent;
        transition: .3s ease-out;

        &::after {
          display: block;
          content: attr(title);
          font-weight: bold;
          height: 1px;
          color: transparent;
          overflow: hidden;
          visibility: hidden;
          margin-bottom: -1px;
        }

        &:hover {
          border-color: $color-orange;
        }

        &.active {
          font-weight: bold;
        }

        & + a {
          margin-left: 30px;
        }
      }
    }
  }

  .stay-updated-wrapper {
    min-width: 230px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }

  .header-icons {
    height: 100%;
    display: flex;
    a {
      margin-right: 20px;
      width: 32px;
      border: none;
      position: relative;
      display: inline-block;
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      transition: .3s ease-out;
      &:before {
        position: absolute;
        top: 50%;
        left: 0;
        width: 32px;
        height: 32px;
        display: block;
        content: '';
        transform: translateY(-50%);
      }
      &:hover {
        border-bottom-color: $color-orange;
      }
      &.bitcoin {
        &:before {
          background: url("/images/footer-icons/bitcoin.svg") center no-repeat;
        }
      }
      &.telegram {
        &:before {
          background: url("/images/footer-icons/telegram.svg") center no-repeat;
        }
      }
    }
  }

  .languages-dropdown {
    display: inline-block;
    margin-right: 35px;
    position: relative;
    font-size: 20px;
    line-height: 28px;

    .current-language {
      position: relative;
      cursor: pointer;
      padding-right: 20px;
      user-select: none;
      text-transform: capitalize;

      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-4px);
        height: 0;
        width: 0;
        border: 7px solid transparent;
        border-top: 8px solid $color-white;
      }
    }

    .languages-list {
      position: absolute;
      top: calc(100% + 10px);
      background-color: $color-white;
      display: none;
      text-align: left;
      padding: 8px 0;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
      min-width: 80px;
      .languages-list-item {
        display: block;
        height: 48px;
        padding: 0 16px;
        font-size: 20px;
        line-height: 48px;
        text-transform: capitalize;
        color: $color-black;
        &.active {
          color: $purple-active;
        }
      }
    }
  }

  .stay-updated-btn {
    background: $color-green;
    box-shadow: 0 14px 24px 0 rgba(50, 49, 58, .25);
    border-radius: 3px;
    color: $color-white;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    padding: 9px 15px;
    &:hover {
      background: $green-hover;
    }
    &:active {
      background: $green-pressed;
    }
  }

  .menu-toggle {
    width: 40px;
    height: 40px;
    margin: -10px -10px -10px 0;
    background: url(/images/menu-toggle.svg) no-repeat center;
  }
}

@media ($mobile) {
  body {
    &.menu-opened {
      //position: relative;
      overflow: hidden;
      position: fixed;
      //height: 100%;
    }
  }
  header {
    padding: 26px 20px 20px !important;
    transition: background .3s ease, padding-top .3s ease, padding-bottom .3s ease;
    &.scroll-header {
      padding: 15px 20px 9px !important;
    }
    .logo-wrapper {
      flex-grow: 1;
    }
    .nav {
      //min-height: 450px;
      //min-height: 100%;
      position: fixed;
      //position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: rgba(57, 38, 91, .95);
      display: none;
      &.opened {
        .all-menu-container {
          height: 100%;
        }
      }
      .menu-elements {
        display: flex;
        min-height: 100%;
        flex-direction: column;
      }
      .all-menu-container {
        -webkit-overflow-scrolling: touch;
        overflow: auto;
      }
      .mobile-menu-header {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        .menu-close {
          width: 40px;
          height: 40px;
          margin: -5px -15px -10px 0;
          background: url(/images/menu-close.svg) no-repeat center;
        }
      }
      .links-wrapper {
        padding-top: 40px;
        flex-grow: 1;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
          margin: 0 !important;
          line-height: 28px;
          height: auto;
          border: none;
          user-select: none;
          padding: 5px 0;
          outline: none !important;
          & + a {
            margin-top: 10px !important;
          }
          &.active {
            color: $color-orange-text;
          }
        }
      }
      .header-icons {
        height: auto;
        a {
          height: 33px;
          border: none;
          &:hover {
            border: none;
          }
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
      .mobile-menu-action {
        padding: 30px 0;
      }
    }
  }
}
@media ($desktop) {
  header {
    .nav {
      min-width: 700px;
      display: block !important;
    }
    .row {
      justify-content: space-between;
    }
    .stay-updated-wrapper {
      padding-right: 10px;
      padding-left: 10px;
    }
    .logo-wrapper {
      padding-right: 10px;
      padding-left: 10px;
      img {
        width: 129px;
        max-width: 129px;
      }
    }
  }
}

@media (min-width: 1526px) {
  header {
    .logo-wrapper, .stay-updated-wrapper {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}
