<header class="container-fluid white-block">
  <div class="row middle-md">
    <div class="logo-wrapper">
      <a href="#" class="logo" id="logo">
        <img src="/images/wonder/1.svg" srcset="/images/logo@2x.png 2x" alt="logo">
      </a>
    </div>
    <nav class="col-md nav" id="app-nav">
      <div class="all-menu-container">
        <div class="menu-elements">
          <div class="mobile-menu-header mobile-only">
            <div class="languages-dropdown">
            </div>
            <div class="header-icons">
              <a class="telegram"
                 target="_blank"
                 href="https://t.me/joinchat/E6YjkQ2yQwBk9WaP0q-zMQ"></a>
              <a class="bitcoin"
                 href="https://bitcointalk.org/index.php?topic=2314860.msg23501033#msg23501033"
                 target="_blank"></a>
            </div>
            <div class="menu-close"></div>
          </div>
          <div class="links-wrapper">
            <a href="#about" title="@header.menu.about">@header.menu.about</a>
            <a href="#ico-details" title="@header.menu.icoDetails">@header.menu.icoDetails</a>
            <a href="#whitepaper" title="@header.menu.whitepaper">@header.menu.whitepaper</a>
            <a href="#product" title="@header.menu.product">@header.menu.product</a>
            <a href="#why-rentberry" title="@header.menu.whyRentberry">@header.menu.whyRentberry</a>
            <a href="#team" title="@header.menu.team">@header.menu.team</a>
          </div>
          <div class="mobile-menu-action mobile-only">
            <button id="registerNowMobileHeaderBtn" class="stay-updated stay-updated-btn">@header.stayUpdated</button>
          </div>
          <span class="marker desktop-only"></span>
        </div>
      </div>
    </nav>
    <div class="stay-updated-wrapper desktop-only">
      <!--<div class="languages-dropdown">-->
      <!--</div>-->
      <div class="header-icons">
        <a class="telegram"
           target="_blank"
           href="https://t.me/joinchat/E6YjkQ2yQwBk9WaP0q-zMQ"></a>
        <a class="bitcoin"
           href="https://bitcointalk.org/index.php?topic=2314860.msg23501033#msg23501033"
           target="_blank"></a>
      </div>
      <button id="registerNowHeaderBtn" class="stay-updated stay-updated-btn">@header.stayUpdated</button>
    </div>

    <div class="menu-toggle mobile-only" id="menu-toggle"></div>
  </div>
</header>
