<section class="product" id="product" data-order="4">
  <div class="container">
    <div class="product__content row">
      <div class="product__content-header col-md-12 col-xs-10 col-xs-offset-1 col-md-offset-0"
           data-animate="true">
        <h2 class="section-header">Roadmap</h2>
        <p class="product__content-header-description">
          Rentberry is already well known internationally and was depicted by many local news publications. We plan to
          offer our blockchain real estate infrastructure to tenants and landlords around the world by partnering with
          local credit bureaus, banks, insurance companies, cryptocurrency exchanges, property management and real
          estate companies.
        </p>
      </div>

      <div class="product__content-roadmap col-md-12">
        <div class="product__content-roadmap-content">
          <ul class="roadmap-tree">
            <li class="year">2018</li>
            <li class="roadmap-item left">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">Technology Advancement</h4>
                <p class="roadmap-item-description">
                  Integrate blockchain and smart contracts technology throughout the platform. Launch iOS and Android
                  apps. File international patents.
                </p>
              </div>
            </li>
            <li class="roadmap-item right">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">Crowdsourced Rental Deposits</h4>
                <p class="roadmap-item-description">
                  Allow tenants to unlock billions of dollars by paying a small monthly fee in tokens in lieu of paying
                  full upfront security deposits.
                </p>
              </div>
            </li>
            <li class="roadmap-item left">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">Tokenization</h4>
                <p class="roadmap-item-description">
                  Launch of a payment system allowing users to make/receive payments for rent and other services on
                  Rentberry platform in BERRY tokens.
                </p>
              </div>
            </li>
            <li class="roadmap-item right">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">Real Estate Acquisition</h4>
                <p class="roadmap-item-description">
                  Buy properties in the top 25 most popular cities and rent them out on a short-term basis to platform
                  users and members of exclusive Rentberry Club.
                </p>
              </div>
            </li>
            <li class="year">2019</li>
            <li class="roadmap-item left">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">Proprietary Scoring System</h4>
                <p class="roadmap-item-description">
                  Introduce Landlord and Tenants Scores that would be based on reviews, rental-related history and
                  personal data saved on the blockchain.
                </p>
              </div>
            </li>
            <li class="roadmap-item right">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">Third-Party Providers</h4>
                <p class="roadmap-item-description">
                  Offer API integration to local third-party service providers. Users will be able to order services
                  directly from their Rentberry portals.
                </p>
              </div>
            </li>
            <li class="roadmap-item left">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">International Expansion</h4>
                <p class="roadmap-item-description">
                  Expand across Europe and Asia. Offer a multi-language support. Partner with local credit bureaus and
                  real estate companies.
                </p>
              </div>
            </li>
            <li class="year">2020</li>
            <li class="roadmap-item right">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">Smart-Lock Technology</h4>
                <p class="roadmap-item-description">
                  Integrate blockchain smart-lock technology that will significantly simplify open houses and move-in/move-out procedures.
                </p>
              </div>
            </li>
            <li class="roadmap-item left">
              <div class="roadmap-item-card">
                <span class="tree-connect"></span>
                <h4 class="roadmap-item-title">Online Utility Bills</h4>
                <p class="roadmap-item-description">
                  Partner with utility companies to give users ability to pay the bills directly via Rentberry’s platform.
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
