<section id="subscription" class="subscription-wrapper">
  <div class="container form-wrapper">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-md-12 col-md-offset-0">
        <div class="title">
          Rentberry Mailing List
        </div>
        <div class="description">
          Subscribe to our email list to receive news and updates.
        </div>
      </div>

      <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
        <div class="form-container">
          <form novalidate="" id="subscriptionForm">
            <div class="controls">
              <input data-validation="email" placeholder="Email" required name="email">
            </div>

            <button id="subscribeBtn">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container result-container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md col-md-offset-0">
        <div class="title">
          Great, we have added <br/>
          you to our mailing list
        </div>
      </div>
    </div>
  </div>
</section>
