<section class="team-section black-block" id="team" data-order="6">

  <div class="team-container">
    <div class="container">
      <div class="row"
           data-animate="true"
           data-animate-transform="true">
        <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="section-header">
            Team
          </div>
          <p class="section-sub-header">
            Meet the visionaries working behind the scenes of Rentberry platform.
          </p>
        </div>
        <div class="col-md-2 col-md-offset-2 col-xs-10 col-xs-offset-1">
          <div class="number-container">
            <span class="number">
              23
            </span>
            <span class="text">
               Dedicated People
            </span>
          </div>
        </div>
        <div class="col-md-2 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="number-container">
            <span class="number">
              150
            </span>
            <span class="text">
               Years of combined experience
            </span>
          </div>
        </div>
        <div class="col-md-2 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="number-container">
            <span class="number">
              20
            </span>
            <span class="text">
              Years of combined blockchain experience
            </span>
          </div>
        </div>
      </div>

      <div class="big-team">
        <div class="row between-md"
             data-animate="true"
             data-animate-transform="true">

          <div class="col-md-3">
            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-12 col-md-offset-0">
                <div class="image">
                  <img async src="/images/team/alex-lubinsky.jpg" srcset="/images/team/alex-lubinsky@2x.jpg 2x"
                       alt="Alex Lubinsky">
                </div>
              </div>

              <div class="name col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Alex Lubinsky
                <a target="_blank" href="https://www.linkedin.com/in/lubinsky/" class="linkedin-icon"></a>
              </div>
              <div class="position col-xs-10 col-xs-offset-1 col-md col-md-offset-0">
                СEO <br/>
                UC Berkeley
              </div>
              <div class="description col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Former investment banking executive who founded and sold several companies. Real estate owner and
                successful entrepreneur responsible for defining Rentberry’s vision.
              </div>
            </div>
          </div>

          <div class="col-md-3">

            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-12 col-md-offset-0">
                <div class="image">
                  <img src="/images/team/lily-ostapchuk.jpg" srcset="/images/team/lily-ostapchuk@2x.jpg 2x"
                       alt="Lily Ostapchuk">
                </div>
              </div>

              <div class="name col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Lily Ostapchuk
                <a target="_blank" href="https://www.linkedin.com/in/lostapchuk/" class="linkedin-icon"></a>
              </div>
              <div class="position col-xs-10 col-xs-offset-1 col-md col-md-offset-0">
                CPO <br/>
                Columbia University
              </div>
              <div class="description col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Managed and operated a number of rental properties across the US and Europe. Product launch and
                marketing
                expert with deep knowledge of how to position and scale the product.
              </div>
            </div>

          </div>

          <div class="col-md-3">

            <div class="row">
              <div class="col-xs-6 col-xs-offset-3 col-md-12 col-md-offset-0">
                <div class="image">
                  <img src="/images/team/Aleksey.jpg" srcset="/images/team/Aleksey@2x.jpg 2x" alt="Aleksey Perfilov">
                </div>
              </div>

              <div class="name col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Aleksey Perfilov
                <a target="_blank" href="https://www.linkedin.com/in/aperfilov/" class="linkedin-icon"></a>
              </div>
              <div class="position col-xs-10 col-xs-offset-1 col-md col-md-offset-0">
                CTO <br/>
                Stanford University
              </div>
              <div class="description col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
                Worked at a number of prominent IT companies, including Hi5, Altera, Phoenix Technologies, and Amazon.
                Full stack engineer, blockchain evangelist, and focus-driven coder with 15 years of experience.
              </div>
            </div>

          </div>
        </div>
      </div><!--big-team-->
    </div>

    <div class="all-team-wrapper closed"
         data-animate="true"
         data-animate-transform="true">
      <div class="all-team" id="allTeam">
        <div class="container">
          <div class="row between-md">

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/SergeGritsenko.jpg" srcset="/images/team/SergeGritsenko@2x.jpg 2x" alt="Serge Gritsenko">
              </div>
              <div class="name">
                Serge Gritsenko
              </div>
              <div class="position">
                Chief Operating Officer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/denis.jpg" srcset="/images/team/denis@2x.jpg 2x" alt="Denis Golubovsky">
              </div>
              <div class="name">
                Denis Golubovsky
              </div>
              <div class="position">
                Blockchain Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Eugene.jpg" srcset="/images/team/Eugene@2x.jpg 2x" alt="Eugene Terentev">
              </div>
              <div class="name">
                Eugene Terentev
              </div>
              <div class="position">
                Blockchain Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Sviatozhevsky.jpg" srcset="/images/team/Sviatozhevsky@2x.jpg 2x"
                     alt="David Sviatozhevsky">
              </div>
              <div class="name">
                David Sviatozhevsky
              </div>
              <div class="position">
                Backend Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Kurasov.jpg" srcset="/images/team/Kurasov@2x.jpg 2x" alt="Eugene Kurasov">
              </div>
              <div class="name">
                Eugene Kurasov
              </div>
              <div class="position">
                Backend Developer
              </div>
            </div>
          </div>

          <div class="row between-md">
            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Svityashchuk.jpg" srcset="/images/team/Svityashchuk@2x.jpg 2x"
                     alt="Alex Svityashchuk">
              </div>
              <div class="name">
                Alex Svityashchuk
              </div>
              <div class="position">
                Backend Developer
              </div>
            </div>


            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/nadia.jpg" srcset="/images/team/nadia@2x.jpg 2x" alt="Nadia Sidko">
              </div>
              <div class="name">
                Nadia Sidko
              </div>
              <div class="position">
                Frontend Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/alexander.jpg" srcset="/images/team/alexander@2x.jpg 2x" alt="Alexander Vilko">
              </div>
              <div class="name">
                Alexander Vilko
              </div>
              <div class="position">
                Frontend Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/anton.jpg" srcset="/images/team/anton@2x.jpg 2x" alt="Anton Kazanov">
              </div>
              <div class="name">
                Anton Kazanov
              </div>
              <div class="position">
                Frontend Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img src="/images/team/Kostyantin.jpg" srcset="/images/team/Kostyantin@2x.jpg 2x"
                     alt="Kostyantin Horozhanov">
              </div>
              <div class="name">
                Kostyantin Horozhanov
              </div>
              <div class="position">
                Frontend Developer
              </div>
            </div>
          </div>

          <div class="row between-md">
            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/Mykhailyshen.jpg"
                     data-srcset="/images/team/Mykhailyshen@2x.jpg 2x"
                     alt="Denys Mykhailyshen">
              </div>
              <div class="name">
                Denys Mykhailyshen
              </div>
              <div class="position">
                Frontend Developer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/maks.jpg"
                     data-srcset="/images/team/maks@2x.jpg 2x"
                     alt="Max Zabarylo">
              </div>
              <div class="name">
                Max Zabarylo
              </div>
              <div class="position">
                QA Engineer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/July.jpg"
                     data-srcset="/images/team/July@2x.jpg 2x"
                     alt="July Yakimova">
              </div>
              <div class="name">
                July Yakimova
              </div>
              <div class="position">
                QA Engineer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/AlekseiHumeniuk.jpg"
                     data-srcset="/images/team/AlekseiHumeniuk@2x.jpg 2x"
                     alt=" Alex Humeniuk">
              </div>
              <div class="name">
                Alex Humeniuk
              </div>
              <div class="position">
                SEO Engineer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/alex.jpg"
                     data-srcset="/images/team/alex@2x.jpg 2x"
                     alt="Alex Kotovskov">
              </div>
              <div class="name">
                Alex Kotovskov
              </div>
              <div class="position">
                Product Designer
              </div>
            </div>
          </div>

          <div class="row between-md">
            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/liza.jpg"
                     data-srcset="/images/team/liza@2x.jpg 2x"
                     alt="Liza Repko">
              </div>
              <div class="name">
                Liza Repko
              </div>
              <div class="position">
                Visual Designer
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/Serge.jpg"
                     data-srcset="/images/team/Serge@2x.jpg 2x"
                     alt="Serge Sokolov">
              </div>
              <div class="name">
                Serge Sokolov
              </div>
              <div class="position">
                Marketing Director
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/Alyona.jpg"
                     data-srcset="/images/team/Alyona@2x.jpg 2x"
                     alt="Alyona Blakytna">
              </div>
              <div class="name">
                Alyona Blakytna
              </div>
              <div class="position">
                Business Development
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/ksusha.jpg"
                     data-srcset="/images/team/ksusha@2x.jpg 2x"
                     alt="Kseniya Tunikova">
              </div>
              <div class="name">
                Kseniya Tunikova
              </div>
              <div class="position">
                Content Manager
              </div>
            </div>

            <div class="col-md-2 one-person">
              <div class="image">
                <img data-src="/images/team/Kate.jpg"
                     data-srcset="/images/team/Kate@2x.jpg 2x"
                     alt="Kate Fisenko">
              </div>
              <div class="name">
                Kate Fisenko
              </div>
              <div class="position">
                Sales
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="container">
        <div class="all-team-action">
          <span class="show-all-team show-all" id="showAllTeam">Show all Rentberry Team</span>
        </div>
      </div>
      <img class="all-team-photo" src="/images/team/all-team.jpg" srcset="/images/team/all-team@2x.jpg 2x"
           alt="All Team">
    </div>
  </div>
  <!--between-md-->

  @include('../partials/team-components/investors.html')

  @include('../partials/team-components/advisors.html')

  @include('../partials/team-components/roadshow.html')

  @include('../partials/team-components/partners.html')

</section>
