<div id="whitepaper" data-order="3" class="whitepaper__start"></div>
<section class="whitepaper white-block">
  <div class="whitepaper__content"
       data-animate="true"
       data-animate-transform="true">
    <div class="container">
      <div class="row middle-md">
        <div class="col-md-3 col-xs-offset-1 col-xs-6 desktop-only">
          <img src="/images/whitepaper.svg"
               alt=""
               class="rentberry-website">
        </div>
        <div class="col-md-6 col-xs-10 col-xs-offset-1">
          <h2 class="section-header">@whitepaper.title</h2>
          <p class="whitepaper__content-description">@whitepaper.description</p>
          <div class="row">

            <div class="col-md-12 col-xs-12">
              <div class="download-whitepaper">
                <a target="_blank" href="/downloads/Rentberry_Whitepaper_V1_@lang.pdf" download>
                  <span>Download Whitepaper</span>
                </a>
              </div>
              <div class="download-whitepaper">
                <a target="_blank" href="/downloads/Rentberry_One_Pager.pdf" download>
                  <span>Download One Pager</span>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
