<div class="container">
        
                <h1>Wonder Puppy Egg</h1>
                <span id="countIns"></span>
        
                <h1 id="instructor"></h1>
                <span id="insTrans"></span>
                <hr>
                <img id="loader" src="./assets/img/lg.double-ring-spinner.gif">
        
                <label for="idName" class="col-lg-2 control-label">Wonder Puppy Egg Name(input your Wonder Egg name here)</label>
                <input id="idName" type="text">
        
                <label for="lDescription" class="col-lg-2 control-label">Wonder Puppy Egg Description ID(input only between 1-7 for now to save gas fee)</label>
                <input id="lDescription" type="text">
        
                <label for="age" class="col-lg-2 control-label">Puppy Price ether</label>
                <input id="age" type="text">
        
                <label for="sellPriceRate" class="col-lg-2 control-label">onwer set sell Price Rate</label>
                <input id="sellPriceRate" type="text">
        
                <label for="buyPriceRate" class="col-lg-2 control-label">onwer set buy Price Rate</label>
                <input id="buyPriceRate" type="text">
        
                <button id="button1">Create Your New Puppy Egg(for free now)</button>
        
        
                <button id="button3">Reload page</button>
        
        
            </div>