<div class="advisors-container">
  <div class="container">
    <div class="row"
         data-animate="true"
         data-animate-transform="true">
      <div class="col-md-12 col-xs-10 col-xs-offset-1 col-md-offset-0">
        <div class="section-header">
          Advisors
        </div>
        <p class="section-sub-header">
          Our team has the best advisors in the real estate, legal and finance <br class="desktop-only"> industries.
          And we’re proud to
          tell that <b>all of them have actually <br class="desktop-only"> invested in Rentberry themselves.</b>
        </p>
      </div>
    </div>
  </div>
  <div class="all-investors closed" id="allAdvisors"
       data-animate="true"
       data-animate-transform="true">
    <div class="all-investors-list" id="allAdvisorsList">
      <div class="container">
        <div class="row between-xs">

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/BenAri.jpg" srcset="/images/advisors/BenAri@2x.jpg 2x" alt="">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Adi Ben-Ari</div>
              <div class="investor-position">
                CEO <br/>
                Applied Blockchain
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/GlenReed.jpg" srcset="/images/advisors/GlenReed@2x.jpg 2x" alt="">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Glen Reed</div>
              <div class="investor-position">
                Partner <br/>
                King & Spalding
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/AndrewBarlow.jpg" srcset="/images/advisors/AndrewBarlow@2x.jpg 2x" alt="">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Andrew Barlow</div>
              <div class="investor-position">
                Managing Director <br/>
                Venturian
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/BijalShah.jpg" srcset="/images/advisors/BijalShah@2x.jpg 2x" alt="">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Bijal Shah</div>
              <div class="investor-position">
                Principal <br/>
                WP Global Partners
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/MaxTappeiner.jpg" srcset="/images/advisors/MaxTappeiner@2x.jpg 2x" alt="">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Max Tappeiner</div>
              <div class="investor-position">
                VP of Operations <br/>
                Las Vegas Sands Corp.
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/MichaelFernandez.jpg" srcset="/images/advisors/MichaelFernandez@2x.jpg 2x"
                   alt="">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Michael Fernandez</div>
              <div class="investor-position">
                CEO <br/>
                Factory 360
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/MaulikBhagat.jpg" srcset="/images/advisors/MaulikBhagat@2x.jpg 2x"
                   alt="Maulik Bhagat">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Maulik Bhagat</div>
              <div class="investor-position">
                Managing Director <br/>
                AArete Consulting
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/MichaelKoran.jpg" srcset="/images/advisors/MichaelKoran@2x.jpg 2x"
                   alt="Michael Koran">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Michael Koran</div>
              <div class="investor-position">
                Founder <br/>
                Primary Residential <br/>
                Mortgage
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/TrevorRichards.jpg" srcset="/images/advisors/TrevorRichards@2x.jpg 2x"
                   alt="Trevor Richards">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Trevor Richards</div>
              <div class="investor-position">
                CTO <br/>
                Lightwell Corporation
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/RajNair.jpg" srcset="/images/advisors/RajNair@2x.jpg 2x" alt="Raj Nair">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Raj Nair</div>
              <div class="investor-position">
                VP of Technology <br/>
                Ericsson
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/advisors/AyeshaRahman.jpg" srcset="/images/advisors/AyeshaRahman@2x.jpg 2x"
                   alt="Ayesha Rahman">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Ayesha Rahman</div>
              <div class="investor-position">
                Senior VP <br/>
                Savantage Solutions
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/advisors/DerekSchueren.jpg"
                   data-srcset="/images/advisors/DerekSchueren@2x.jpg 2x"
                   alt="Derek Schueren">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Derek Schueren</div>
              <div class="investor-position">
                Managing Director <br/>
                Recommind
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/advisors/MarcoRossi.jpg"
                   data-srcset="/images/advisors/MarcoRossi@2x.jpg 2x"
                   alt="Marco Rossi">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Marco Rossi</div>
              <div class="investor-position">
                VP Sales & Marketing <br/>
                Siemens
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/advisors/EdwardLevin.jpg"
                   data-srcset="/images/advisors/EdwardLevin@2x.jpg 2x"
                   alt="Edward Levin">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Edward Levin</div>
              <div class="investor-position">
                Partner <br/>
                Pegasus Capital
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/advisors/WilliamRobinson.jpg"
                   data-srcset="/images/advisors/WilliamRobinson@2x.jpg 2x"
                   alt="William Robinson">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">William Robinson</div>
              <div class="investor-position">
                Head of Patent Team <br/>
                Lookout
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="all-investors-action">
        <span class="show-all-investors show-all" id="showAllAdvisors">Show all Rentberry Advisors</span>
      </div>
    </div>
  </div>
</div>
