<div class="investors-container">
  <div class="container">
    <div class="investors-header-wrapper">
      <div class="row"
           data-animate="true"
           data-animate-transform="true">
        <div class="col-md-6 col-xs-10 col-xs-offset-1 col-md-offset-0">
          <div class="section-header">
            Investors
          </div>
          <p class="section-sub-header">
            Our investors are coming from 11 different countries and 19 US states. We’re proud of the fact that so
            many prominent figures from the real estate, legal and finance sectors shared our vision of the future of
            rental industry and entrusted Rentberry with $4 million that are now fueling our growth.
          </p>
        </div>

      </div>

      <div class="row investors-countries-wrapper"
           data-animate="true"
           data-animate-transform="true">
        <div class="col-md-3 col-xs-10 col-xs-offset-1 col-md-offset-0 founds-raised">
          <div class="counter-img">
          </div>
          <div class="numbers-block">
            <div class="founds-raised-value">$4M</div>
            <div class="founds-raised-label">Funds Raised</div>
          </div>
        </div>

        <div class="col-md-2 col-xs-4 col-xs-offset-1 investors-countries">
          <ul class="investors-countries-list">
            <li class="investors-countries-list-item">USA</li>
            <li class="investors-countries-list-item">China</li>
            <li class="investors-countries-list-item">Canada</li>
            <li class="investors-countries-list-item">Poland</li>
          </ul>
        </div>

        <div class="col-md-2 col-xs-5 col-xs-offset-1 col-md-offset-0 investors-countries">
          <ul class="investors-countries-list">
            <li class="investors-countries-list-item">UK</li>
            <li class="investors-countries-list-item">Germany</li>
            <li class="investors-countries-list-item">Switzerland</li>
            <li class="investors-countries-list-item">France</li>
          </ul>
        </div>

        <div class="col-md-2 col-xs-12 investors-countries">
          <ul class="investors-countries-list row">
            <li class="investors-countries-list-item col-xs-4 col-xs-offset-1 col-md-12 col-md-offset-0">Qatar</li>
            <li class="investors-countries-list-item col-xs-5 col-xs-offset-1 col-md-12 col-md-offset-0">New Zealand
            </li>
            <li class="investors-countries-list-item col-xs-4 col-xs-offset-1 col-md-12 col-md-offset-0">Australia
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="all-investors closed" id="allInvestors"
       data-animate="true"
       data-animate-transform="true">
    <div class="all-investors-list" id="allInvestorsList">
      <div class="container">
        <div class="row between-xs">

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/JadeValue.jpg" srcset="/images/investors/JadeValue@2x.jpg 2x"
                   alt="JadeValue (CashBUS)">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">JadeValue (CashBUS)</div>
              <div class="investor-position">VC Fund - China</div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/808.jpg" srcset="/images/investors/808@2x.jpg 2x" alt="808 Ventures">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">808 Ventures</div>
              <div class="investor-position">VC Fund - Australia</div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/Zing.jpg" srcset="/images/investors/Zing@2x.jpg 2x" alt="Zing Capital">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Zing Capital</div>
              <div class="investor-position">VC Fund - Canada</div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/Beechwood.jpg" srcset="/images/investors/Beechwood@2x.jpg 2x"
                   alt="Beechwood Ventures">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Beechwood Ventures</div>
              <div class="investor-position">
                VC Fund - USA
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/BrianNelson.jpg" srcset="/images/investors/BrianNelson@2x.jpg 2x"
                   alt="Brian Nelson">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Brian Nelson</div>
              <div class="investor-position">
                Co-President <br/>
                Nelson Brothers Property <br/>
                Management
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/PatrickFrost.jpg" srcset="/images/investors/PatrickFrost@2x.jpg 2x"
                   alt="Patrick Frost">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Patrick Frost</div>
              <div class="investor-position">
                CEO <br/>
                The Swiss Life Group
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/TrevorBond.jpg" srcset="/images/investors/TrevorBond@2x.jpg 2x"
                   alt="Trevor Bond">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Trevor Bond</div>
              <div class="investor-position">
                Co-chair <br/>
                HBS Alumni Angels
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/PaoloZapparoli.jpg" srcset="/images/investors/PaoloZapparoli@2x.jpg 2x"
                   alt="Paolo Zapparoli">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Paolo Zapparoli</div>
              <div class="investor-position">
                President <br/>
                92 Ventures
              </div>
            </div>
          </div>


          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/MatthewRussell.jpg" srcset="/images/investors/MatthewRussell@2x.jpg 2x"
                   alt="Matthew Russell">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Matthew Russell</div>
              <div class="investor-position">
                Executive Director <br/>
                Braas Monier Building Group
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img src="/images/investors/GregoryLee.jpg" srcset="/images/investors/GregoryLee@2x.jpg 2x"
                   alt="Gregory Lee">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Gregory Lee</div>
              <div class="investor-position">
                President <br/>
                Nokia Technologies
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/MarieEbersbacher.jpg"
                   data-srcset="/images/investors/MarieEbersbacher@2x.jpg 2x"
                   alt="Marie Ebersbacher">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Marie Ebersbacher</div>
              <div class="investor-position">
                Managing Director <br/>
                CBIZ
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/BeatNeukom.jpg"
                   data-srcset="/images/investors/BeatNeukom@2x.jpg 2x"
                   alt="Beat Neukom">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Beat Neukom</div>
              <div class="investor-position">
                Chief Financial Officer <br/>
                Merz Group
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/RyanSullivan.jpg"
                   data-srcset="/images/investors/RyanSullivan@2x.jpg 2x"
                   alt="Ryan Sullivan">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Ryan Sullivan</div>
              <div class="investor-position">
                CEO <br/>
                Intensity
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/KevinPshebniski.jpg"
                   data-srcset="/images/investors/KevinPshebniski@2x.jpg 2x"
                   alt="Kevin Pshebniski">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Kevin Pshebniski</div>
              <div class="investor-position">
                CEO <br/>
                Hopewell Development
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/LeeLeslie.jpg"
                   data-srcset="/images/investors/LeeLeslie@2x.jpg 2x"
                   alt="Lee Leslie">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Lee Leslie</div>
              <div class="investor-position">
                Executive VP <br/>
                Ten-X Real Estate
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/LeslieBai.jpg"
                   data-srcset="/images/investors/LeslieBai@2x.jpg 2x"
                   alt="Leslie Bai">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Leslie Bai</div>
              <div class="investor-position">
                President <br/>
                Siemic Corporation
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/MiloradAndjelic.jpg"
                   data-srcset="/images/investors/MiloradAndjelic@2x.jpg 2x"
                   alt="Milorad Andjelic">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Milorad Andjelic</div>
              <div class="investor-position">
                Partner <br/>
                Abris Capital
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/AaronJames.jpg"
                   data-srcset="/images/investors/AaronJames@2x.jpg 2x"
                   alt="Aaron James Deer">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Aaron James Deer</div>
              <div class="investor-position">
                Managing Director <br/>
                Sandler O'Neill + Partners
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/CarolynTaylor.jpg"
                   data-srcset="/images/investors/CarolynTaylor@2x.jpg 2x"
                   alt="Carolyn Taylor">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Carolyn Taylor</div>
              <div class="investor-position">
                President <br/>
                Weatherly Asset
                Management
              </div>
            </div>
          </div>

          <div class="col-md-2 col-xs-6 all-investors-list-item">
            <div class="investor-img-wrapper">
              <img data-src="/images/investors/MatthewCottis.jpg"
                   data-srcset="/images/investors/MatthewCottis@2x.jpg 2x"
                   alt="Matthew Cottis">
            </div>
            <div class="investor-content-wrapper">
              <div class="investor-name">Matthew Cottis</div>
              <div class="investor-position">
                Partner <br/>
                Hogan Lovells LLP
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="all-investors-action">
        <span class="show-all-investors show-all" id="showAllInvestors">Show all Rentberry Investors</span>
      </div>
    </div>
  </div>
</div>
