/* Fonts */
$ProximaNova: "proxima-nova", sans-serif;

/* Colors */
$color-white: #FFF;
$color-black: #32313A;
$color-blackLight: #6E6D74;
$color-purpleLight: #BBA1FB;
$color-purpleDark: #7B53C1;
$color-purple: #A07FEE;
$purple-active: #7B53C1;
$purple-hover: #6B48A8;
$purple-pressed: #513581;


$color-orange: #F8A43B;
$orange-hover: #E1910C;
$orange-pressed: #D98000;
$color-orangeLight: #FAA52B;
$color-orange-text: #F9A336;

$color-green: #53C16A;
$green-hover: #47AA5B;
$green-pressed: #388949;

$light-background: #F4F5F7;
$lighter-background: #F8F9FA;
$light-gray: #6B6A73;

$color-red: #DD4961;

$gray: #E7E9EF;

$mobile: 'max-width: 767px';
$desktop: 'min-width: 768px';
