<div class="close-modal" data-izimodal-close>
  <svg width="20px" height="20px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
      <g id="Button-Close" sketch:type="MSLayerGroup" transform="translate(-15.000000, -15.000000)" fill="#7B53C1">
        <path d="M24,24 L13,24 L13,26 L24,26 L24,37 L26,37 L26,26 L37,26 L37,24 L26,24 L26,13 L24,13 L24,24 Z"
              id="Rectangle-29" sketch:type="MSShapeGroup"
              transform="translate(25.000000, 25.000000) rotate(-45.000000) translate(-25.000000, -25.000000) "></path>
      </g>
    </g>
  </svg>
</div>
