<div id="stayUpdated" class="modal">
  @include('../components/close-modal.html')
  <div class="container form-container">
    <div class="form-content">
      <div class="row middle-md">

        <div class="col-md-5 col-xs-10 col-xs-offset-1">
          <div class="counters">
            <span class="counter-value" id="participants" data-placeholder=""></span> participants from
            <span class="counter-value" id="countries" data-placeholder=""></span> countries subscribed with
            <span class="counter-value" id="money" data-placeholder=""></span>
          </div>
          <div class="title">
            It’s important for us to understand who will become the part of our ecosystem
          </div>
          <div class="description">
            Please note that you will need to verify your email address. We will use it to provide further instructions
            for the event. Please ensure the email you enter belongs to you and is readily accessible.
          </div>
        </div>

        <div class="col-md-4 col-xs-10 col-xs-offset-1">
          <form novalidate="" id="registrationForm">
            <div class="registration-form-server-error">Oops, can’t connect to the server :(</div>

            <div class="controls">
              <input data-validation="length" data-validation-length="min1" placeholder="First name" required
                     name="nameFirst">
            </div>

            <div class="controls">
              <input data-validation="length" data-validation-length="min1" placeholder="Last name" required
                     name="nameLast">
            </div>

            <div class="controls">
              <input data-validation="email" placeholder="Email" required name="username">
            </div>

            <div class="controls">
              <input
                data-validation="number"
                data-validation-allowing="range[1;9999999]"
                class="currency"
                placeholder="Participation Amount ($)"
                required
                name="amount">
            </div>

            <p>
              Please enter the amount in USD that you would like to <br class="desktop-only"/>
              participate with. It is not a commitment.
            </p>

            <div class="checkbox-container controls">
              <input type="checkbox" class="checkbox" data-validation="required" required id="agree"/>
              <label for="agree">I agree to <a href="#"><b>Terms & Conditions</b></a></label>
            </div>

            <button id="submitRegistrationForm">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container result-container">
    <div class="row">
      <div class="col-xs-10 col-md-12 col-xs-offset-1 col-md-offset-0">
        <div class="title">
          Please Verify Your Email Address
        </div>
        <p>
          Check <a href="mailto:" id="username"></a> to complete your registration <br class="desktop-only"/>
          for the Rentberry Token Pre-Sale Event.
        </p>
      </div>
      <div class="col-md-4 col-xs-10 col-xs-offset-1 col-md-offset-4">
        <button data-izimodal-close id="closeResultRegistrationForm">Done</button>
      </div>
    </div>
  </div>
</div>
